<link rel="stylesheet" href="@App.Path/dist/styles.css" data-enableoptimizations="true" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
@if(Edit.Enabled) {
<div class="hidden-xs hidden-sm hidden-md hidden-lg">
	Bootstrap is not in your DNN-skin. This template uses bootstrap for alignment and default colors. 
	<a target="_blank" href="http://getbootstrap.com/">getbootstrap.com</a>.
	<br>
	You can also just use other classes (edit the template) and then remove this warning.
	<br>
	Note that only admins see this warning
</div>
}

<div class="sc-element">
    <h2>@ListContent.Title @ListContent.Toolbar</h2>
    <div>@Html.Raw(ListContent.Introduction)</div>
<div class="row co-tiles-wrapper"> 
    @foreach (var Content in AsDynamic(Data["Default"]))
    {
        var hasLink = !String.IsNullOrEmpty(Content.Link);
        var iconClasses = !String.IsNullOrEmpty(Content.Icon) 
            ? "glyphicon " + Content.Icon 
            : "fa " + Content.IconFA;
            
        var useItemSettings = Content.Presentation != null && Content.Presentation.Entity != null;
        var presentation = useItemSettings ? Content.Presentation : ListContent.Presentation;
        
        <div class="col col-xs-12 col-sm-4 col-md-3 sc-element co-tiles-item">
			@Content.Toolbar
			@if(hasLink)
			{
				@:<a class="co-link-box" target="@(Content.TargetBlank ? "_blank" : "_self")" title="@Content.Title" href="@Content.Link">
			}
			<div class="co-icon-wrapper @presentation.IconColor @presentation.IconBackgroundColor">
				<i class="co-icon @iconClasses @presentation.IconColor"></i>
				<h3 class="@presentation.IconColor">@Content.Title</h3>
				@if(!String.IsNullOrEmpty(Content.Description)){
					<p class="co-description @presentation.IconColor">
						@Content.Description
					</p>
				}
			</div>
			@if(hasLink)
			{
				@:</a>
			}
            
        </div>

    }
</div>
</div>